.main-login {
    max-width: max-content;
    margin-top: 20px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.cont-suscripcion{
    background-color: $color-button-hover;
    border-radius: 15px;
    height: 200px;
    
}
