.btn {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid $color-bordes;
    border-radius: 4px;
    background-color: $color-button;
    color: $color-white;
    font-size: 16px;
    cursor: pointer;
  
    &:hover {
      background-color: $color-button-hover;
    }
  }
  
  .btn-google {
    background-color: $color-white;
    color: $color-negro;
    text-align: center;
  
    &:hover {
      background-color: $color-white;
    }
  }
  
  .google-logo {
    width: 20px;
    vertical-align: middle;
    margin-right: 8px;
    background-color: $color-white;
  }

  .btn-suscripcion {
    width: 100%;
    padding: 10px;
    margin-top: 30%;
    border: 1px solid $color-bordes;
    border-radius: 4px;
    background-color: $color-button-suscripcion;
    color: $color-white;
    font-size: 16px;
    cursor: pointer;
  
    &:hover {
      background-color: $color-button-suscripcion-hover;
    }
  }
  